<div id="<%= scene['id'] %>">
  <h1><%= scene['name'] %></h1>

  <% if (file = scene['file']) %>
    <textarea readonly cols="60" rows="20"><%= Base64::encode64(File.read(file)) %></textarea>
  <% end %>


  <% if session[scene['id']] && scene['unlocked'] %>
    <%= simple_format scene['unlocked'] %>
  <% else %>
    <%= simple_format scene['description'] %>

  <% if (lock = scene['lock']) %>
    <p><%= lock['prompt'] %></p>
    <form method="post" action="/scene/<%= scene['id'] %>/unlock">
      <input type="text" name="key" value="<%= key %>" />
      <input type="submit" value="Unlock" />
    </form>
    <% if error %>
      <p class="error"><%= error %></p>
    <% end %>

    <% if hint && (hint_text = lock.dig('hints', hint-1)) %>
      <p class="hint"><%= hint_text %></p>
      <% if lock.dig('hints', hint) %>
        <p><a href="/scene/<%= scene['id'] %>?hint=<%= hint+1 %>">Hint <%= hint+1 %></a></p>
      <% end %>
    <% elsif lock.dig('hints') %>
      <p><a href="/scene/<%= scene['id'] %>?hint=1">Hint 1</a></p>
    <% end %>
  <% end %>
  <% end %>

  <% Hash(scene['exits']).each do |scene_id, direction| %>
    <p><a href="/scene/<%= scene_id %>"><%= direction %></a></p>
  <% end %>
</div>

<script>
  // If the user clicks a link to "scene/a-hazy-return", fade out the page before navigating
  document.querySelectorAll('a[href="/scene/a-hazy-return"]').forEach(function(link) {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      document.body.classList.add('fade-out');
      setTimeout(function() {
        window.location = link.href;
      }, 2000);
    });
  });

  // If the page is scene/a-hazy-return, fade in the page
  if (window.location.pathname === '/scene/a-hazy-return') {
    document.body.classList.add('fade-in');
  }

</script>

<style>
  @keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .fade-out {
    animation: fade-out 2s;
    opacity: 0;
  }

  .fade-in {
    animation: fade-in 2s;
  }
</style>
